.productos__columna{
    position: relative;
    margin-bottom: 30px;
    
    
}

.productos__descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
    
    
}

.productos__titulo{
    font-size: 25px;
    margin: 5px 0;
    
}

