#main {
    background-color: #fff;
    position: relative;
    display
}

#section_1919560357 {
    padding-top: 0;
    padding-bottom: 0;
}

.section {
    padding: 30px 0;
    position: relative;
    min-height: auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    align-items: center;
}

.bg-fill {
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: 50% 50%;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0!important;
    margin: 0!important;
}

.section-bg, .section-content {
    width: 100%;
}

.section-bg {
    overflow: hidden;
}

.is-border {
    border-width: 1px;
    border-style: solid;
    border-color: #ececec;
    position: absolute;
    pointer-events: none;
    border-radius: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.relative {
    position: relative!important;
}

.section-content {
    z-index: 1;
}

.row.row-collapse {
    max-width: 1050px;
}

.row-collapse {
    padding: 0;
}

.row-full-width {
    max-width: 100%!important;
}

.row, .gallery {
    width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

 .container, .row {
    max-width: 1080px;
}

 .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row-collapse>.flickity-viewport>.flickity-slider>.col, .row-collapse>.col {
    padding: 0!important;
}

@media screen and (min-width: 850px)
.large-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

small-12 {
    max-width: 100%;
    flex-basis: 100%;
}

.col, .gallery-item, .columns {
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
}

#row-1473045898>.col>.col-inner {
    padding: 15px 50px 0 50px;
}

@media screen and (min-width: 850px) .col-inner {
    margin-left: auto;
    margin-right: 0;

}

    .col-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

@media screen and (min-width: 850px)
.row .row-large:not(.row-collapse), .container .row-large:not(.row-collapse) {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 0;
}

.row .gallery, .row .row:not(.row-collapse), .container .row:not(.row-collapse), .lightbox-content .row:not(.row-collapse) {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
}

.row.row-large {
    max-width: 1110px;
}

@media screen and (min-width: 850px)
.row-large {
    padding-left: 0;
    padding-right: 0;
}

.row-full-width {
    max-width: 100%!important;
}

.row, .gallery {
    width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

@media screen and (min-width: 850px)
.row-large>.flickity-viewport>.flickity-slider>.col, .row-large>.col {
    padding: 0 30px 30px;
    margin-bottom: 0;
}


@media screen and (min-width: 850px)
.gallery-columns-8 .gallery-item, .large-columns-8>.col, .large-columns-8 .flickity-slider>.col {
    max-width: 12.5%;
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
}

@media screen and (min-width: 550px)
.medium-columns-3>.col, .medium-columns-3 .flickity-slider>.col {
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
}

[data-animated="true"], .slider .is-selected [data-animated="true"], .row-slider.slider [data-animated="true"] {
    animation-delay: .1s;
    transform: translate3d(0,0,0) scale(1);
    opacity: 1!important;
}

[data-animate="bounceInUp"], [data-animate="fadeInUp"], .slider [data-animate="bounceInUp"], .slider [data-animate="fadeInUp"] {
    transform: translate3d(0,0px,0);
}


@media screen and (min-width: 850px) .col-inner {
    margin-left: auto;
    margin-right: 0;
    
    .col-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    }
}


.box, .box-image, .box-text {
    transition: opacity 0.3s,transform 0.3s,background-color 0.3s;
}

.box {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.box-image {
    position: relative;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.box, .box-image, .box-text {
    transition: opacity 0.3s,transform 0.3s,background-color 0.3s;
}

.box-text.text-center {
    display: none;
}


.box-text.text-center {
    padding-left: 10px;
    padding-right: 10px;
}

.text-center {
    text-align: center;
}

.is-xsmall {
    font-size: .7em;
}

.box-text {
    padding-top: .7em;
    padding-bottom: 1.4em;
    position: relative;
    width: 100%;
    font-size: .9em;
}

.box-text {
    transition: opacity 0.3s,transform 0.3s,background-color 0.3s;
}




